/* * {
  border: 1px solid black;
} */
* {
  box-sizing: border-box;
}
:root {
  --icon-radius: 14px;
  --appImg-radius: 14px;
  --header-height: 6vh;
  --pointer-color: rgb(12, 12, 12);
  --boxtime-height: 20vh;
  --search-radius: 25px;
  --search-height: 50px;
  --search-width: 500px;
  --gird-column: 100px;
  --gird-row: 100px;
  --app-fontsize: 14px;
  --app-imgHeight: 60%;
  --app-imgWidth: 60%;
  --bg-color: white;
  --main-color: rgb(255, 255, 255, 0.6);
  --main-colorHover: rgb(255, 255, 255, 0.8);
  --main-colorUl: rgb(255, 255, 255, 0.3);
  --main-colorUlHover: rgb(255, 255, 255, 0.8);
  --main-colorApp: rgb(255, 255, 255, 0.5);
  --main-colorAdd: rgb(255, 255, 255);
  --main-colorSetup: rgb(255, 255, 255, 0.8);
  --main-colorSearchList: rgb(255, 255, 255, 0.6);
  --main-colorSelectHover: white;
  --main-colorListHover: rgb(255, 255, 255, 0.9);
  --main-colorFont: black;
  --main-colorNotebook: white;
  --main-colorNbtool: rgb(128, 128, 128, 0.3);
  --main-colorNbicon: rgba(0, 0, 0, 0.836);
  --main-colornbshow: rgba(255, 255, 255, 0.6);
}
/* 超深黑#0c0c0c(12,12,12) */
/* 灰#141414(20,20,20) */

/* 如果宽度小于600px */
@media (max-width: 600px) {
  .clock {
    display: none;
  }
  .app-gird {
    padding: 0 5vw !important;
  }
  .app-setup {
    width: 70% !important;
    top: 0 !important;
    height: 100% !important;
  }
  .noteBook {
    width: 90% !important ;
    height: 60% !important;
  }
}
.flex1 {
  flex: 1;
}
.start {
  margin: 0;
}
.box {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.bg {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-main {
  position: relative;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.box-header {
  height: var(--header-height);
}
box-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--boxtime-height);
  user-select: none;
}

.time {
  font-size: 60px;
  color: #ffff;
  text-shadow: 0 0 20px rgb(0 0 0 / 30%);
}
.date {
  color: #ffff;
  text-shadow: 0 0 20px rgb(0 0 0 / 30%);
}
.search {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  color: var(--main-colorFont);
}
.search-box {
  box-shadow: 0 0 10px 3px rgb(139, 137, 137);
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: var(--search-radius);
  max-width: var(--search-width);
  height: var(--search-height);
  align-items: center;
  margin: 0 auto;
  background-color: var(--main-color);
}
.search-box:hover {
  background-color: var(--main-colorHover);
  cursor: pointer;
}
.search-select {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  border-radius: var(--search-radius);
  position: relative;
}
.search-select:hover {
  background-color: var(--main-colorSelectHover);
}
/* 百度、必应、google选择 */
.search-select-list {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110%;
  left: 0;
  width: 120px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  transition: 0.2s;
  overflow: hidden;
  background: var(--main-colorSearchList);
}
.search-select-list-ul {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.search-select-list-ul-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 22px 12px 12px;
}
.search-select-list-ul-li:hover {
  background-color: var(--main-colorListHover);
  transition: 0.3s;
}
.active-search .search-select-list {
  display: block;
}
.input-box {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--main-colorFont);
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
}
.wallpaper {
  position: relative;
}
.mao.on {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#list {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: var(--search-height);
  backdrop-filter: blur(20px);
  transition: 0.2s;
  border-radius: 20px;
  font-size: 14px;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-colorUl);
}
.list-li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.list-li:hover {
  padding-left: 40px;
  background-color: var(--main-colorUlHover);
  transition: 0.3s;
}
.list-li.on {
  padding-left: 40px;
  background-color: var(--main-colorUlHover);
  transition: 0.3s;
}
.aSou {
  margin-left: 10px;
  text-decoration: none;
  color: var(--main-colorFont);
  flex: 1;
}
.app-icon {
  height: 100%;
  overflow-y: auto;
}
.app-icon::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.app-gird {
  position: relative;
  display: grid;
  user-select: none;
  grid-template-columns: repeat(auto-fill, var(--gird-column));
  grid-auto-rows: var(--gird-row);
  grid-auto-flow: row;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 20vw;
}
.app-img {
  height: var(--app-imgHeight);
  width: var(--app-imgWidth);
  border-radius: var(--appImg-radius);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .app-img:hover {
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2);
} */
ul,
li {
  list-style: none;
}
.app-li {
  padding: 0 15px 30px;
}
.app-div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--icon-radius);
  background-color: var(--main-colorApp);
}
.app-div:hover {
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.2);
}
.app-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: black;
  backdrop-filter: blur(10px);
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.app-title {
  margin: 5px 0 0 0;
  display: block;
  text-align: center;
  color: white;
  font-size: var(--app-fontsize);
  text-shadow: 0 0 20px rgb(0 0 0 / 30%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* 添加app */
.app-add {
  position: fixed;
  left: 50%;
  top: 40%;
  background-color: var(--main-colorAdd);
  transform: translate(-50%, -40%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 5;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  padding: 40px;
  margin: auto;
  border-radius: 25px;
  color: var(--main-colorFont);
}
.app-add-title {
  font-size: 15px;
}
.app-add-div {
  margin: 8px;
}
.app-add-input {
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
}
.app-add-div-btn {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.app-add-btn {
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.app-add-btn:hover {
  background-color: rgba(2, 60, 250, 0.6);
}
/* 添加图标时，模糊背景，屏蔽选择 */
.active .box {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}
.active .app-add {
  display: flex;
}
/* 删除app */
.app-del {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.active-del .app-del {
  display: flex;
}
.active-del .app-del-on {
  background-color: rgba(6, 251, 30, 0.6);
}
.app-del-on {
  position: relative;
}
.footer {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 设置 */
.app-setup {
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 80%;
  background-color: var(--main-colorSetup);
  width: 20vw;
  top: 10%;
  right: 0;
  z-index: 5;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 60%);
  color: var(--main-colorFont);
}

.setup-list {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.active-setup .app-setup {
  display: flex;
}
.setup-list-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.setup-list-span {
  align-self: flex-start;
  margin-bottom: 5px;
}
.setup-btn {
  height: 30px;
  cursor: pointer;
}

/* input range 样式 */
input[type="range"] {
  margin: 18px 5px;
  -webkit-appearance: none;
}
/* Chrome & Safari */
input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(5, 135, 221);
  border-radius: 4px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: rgb(136, 136, 136);
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: rgb(5, 135, 221);
  border-radius: 4px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: rgb(136, 136, 136);
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* IE */
input[type="range"]::-ms-track {
  background: rgb(5, 135, 221);
  border-radius: 4px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: rgb(136, 136, 136);
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* input checkbox */
input[type="checkbox"] {
  position: relative;
  left: 0;
  top: -50%;
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 50px;
  height: 22px;
  position: absolute;
  background: gray;
  border-radius: 40px;
  box-shadow: 0 0 3px black;
}

input[type="checkbox"]::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 3px gray;
  transition: 0.2s linear;
}

input:checked[type="checkbox"]::before {
  background: #05c46b;
}
input:checked[type="checkbox"]::after {
  left: 28px;
}

/* 备忘录 */
.noteBook {
  position: fixed;
  left: 50%;
  top: 40%;
  background-color: var(--main-colorNotebook);
  transform: translate(-50%, -40%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 5;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
  margin: auto;
  border-radius: 15px;
  color: var(--main-colorFont);
}
.noteBook-main {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.noteBook-toolbar {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-colorNbtool);
}
.noteBook-text {
  flex: 1;
  border: none;
  resize: none;
  padding: 15px 15px;
  outline: 0;
  background-color: var(--main-colorNotebook);
  color: var(--main-colorFont);
  font-size: 14px;
}

.active-notebook .noteBook {
  display: flex;
}
.active-notebook .box {
  filter: blur(10px);
  background: var(--main-colorNbicon);
  pointer-events: none;
  user-select: none;
}
.active-noteBookShow .noteBookShow {
  display: flex;
}
.noteBookShow {
  position: fixed;
  left: 5%;
  top: 5%;
  background-color: var(--main-colornbshow);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  height: 60px;
  padding: 0 5px;
  margin: auto;
  border-radius: 5px;
  color: var(--main-colorFont);
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.noteBookShow:hover {
  -webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-right 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* 番茄钟 */
.fanqie {
  position: fixed;
  left: 50%;
  top: 40%;
  background-color: var(--main-colorNotebook);
  transform: translate(-50%, -40%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 5;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
  margin: auto;
  border-radius: 15px;
  color: var(--main-colorFont);
}
.fanqie-main {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fanqie-toolbar {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-colorNbtool);
}
.fanqie-text {
  flex: 1;
  border: none;
  resize: none;
  padding: 15px 15px;
  outline: 0;
  background-color: var(--main-colorNotebook);
  color: var(--main-colorFont);
  font-size: 14px;
}

.active-fanqie .fanqie {
  display: flex;
}
.active-fanqie .box {
  filter: blur(10px);
  background: var(--main-colorNbicon);
  pointer-events: none;
  user-select: none;
}
.active-fanqieShow .fanqieShow {
  display: flex;
}
.fanqieShow {
  position: fixed;
  left: 5%;
  top: 5%;
  background-color: var(--main-colornbshow);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  height: 60px;
  padding: 0 5px;
  margin: auto;
  border-radius: 5px;
  color: var(--main-colorFont);
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.fanqieShow:hover {
  -webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-right 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-right {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.nb:hover {
  color: red;
}
